@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap");
.body {
  font-family: "Nunito", sans-serif;
}
.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: red;
}
.nav-link:focus,
.nav-link:hover {
  color: red;
}
.navbar-collapse {
  flex-grow: 0;
}
h1 {
  color: #586a6e;
  font-size: 3rem;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}
.header-img {
  position: relative;
  left: 48%;
  bottom: 97px;
  width: 100%;
}
.header-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.line1 {
  position: absolute;
  width: 300px;
  margin-left: 297px;
  margin-top: -675px;
}

.grad {
  width: 100%;
  height: 500px;
  background: rgb(255, 165, 199);
  background: linear-gradient(
    180deg,
    rgba(255, 165, 199, 1) 20%,
    rgba(255, 255, 255, 1) 100%
  );
  border-radius: 0% 50% 0% 0%;
}

.prof-image {
  width: 300px;
}
.about {
  width: 100%;
  height: 500px;
  background: rgb(255, 165, 199);
  background: linear-gradient(
    180deg,
    rgba(255, 165, 199, 1) 20%,
    rgba(255, 255, 255, 1) 100%
  );
  border-radius: 0% 50% 0% 0%;
}
.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me h4 {
  margin-bottom: 2rem;
  color: rgb(255, 255, 255);
}

.about-info,
.dr-consult-info h2 {
  color: #586a6e;
}

.about-info p {
  width: 75%;
  margin-top: 25px;
}

.consult,
.dr-consult,
.about {
  display: flex;
  align-items: center;
}

.button {
  background-color: #ab0047;
  border-radius: 8px;
  border-style: none;
  color: #ffffff;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  height: 50px;
  padding: 0px 25px;
}

.button-1:hover,
.button-1:focus {
  background-color: #ab0047;
}

.testimonial-item {
  box-sizing: content-box;
  padding: 60px 20px 20px 20px;
  margin: 0 15px 30px 0;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, rgba(240, 101, 159, 1), rgba(94, 201, 219, 1))
      border-box;
  border-radius: 1em;
  border: 4px solid transparent;
  position: relative;
}
.testimonial-img {
  position: relative;
  top: 10%;
  z-index: 1;
  left: 5%;
}

.baby-image {
  position: relative;
  left: 37%;
}

.footer {
  background: #586a6e;
  height: 500px;
}

.contact h1 {
  color: #ffffff;
}

.form-control {
  background-color: transparent;
  color: #ffffff;
}

.form-control:focus {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}
.form ::placeholder {
  color: rgb(255, 255, 255);
}

.left-blur {
  text-align: center;
  background: radial-gradient(
    circle,
    rgb(255, 195, 220) 0%,
    rgba(255, 255, 255, 1) 65%
  );
}
.right-blur {
  text-align: center;
  background: radial-gradient(
    circle,
    rgba(183, 237, 246, 1) 0%,
    rgba(255, 255, 255, 1) 65%
  );
}

.benefits {
  height: 700px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.benefit-info {
  margin-top: 5em;
}

.baby-img {
  position: absolute;
  width: 300px;
  height: 400px;
  margin-top: 80px;
}

.bp h3 {
  color: #ea6fa3;
  margin-top: 20px;
}

.mp h3 {
  color: #12a0cb;
  margin-top: 20px;
}

.b1,
.b2,
.b3,
.b4,
.b5,
.m1,
.m2,
.m3,
.m4 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nunito", sans-serif;
  font-size: 13px;
  line-height: 1Zpx;
  position: relative;
  border: 0px solid;
  border-radius: 50%;
  width: fit-content;
  height: 100%;
  padding: 1em;
  background: linear-gradient(
    130deg,
    rgba(240, 101, 159, 1) 0%,
    rgba(94, 201, 219, 1) 100%
  );
  color: #ffffff;
}

.b1 {
  left: 30%;
  height: 60px;
}
.b2 {
  left: 3%;
  height: 70px;
}
.b3 {
  left: 50%;
}
.b4 {
  left: 10%;
}
.b5 {
  left: 40%;
  width: 110px;
  height: 100px;
}

.m1 {
  left: 50%;
}
.m2 {
  left: 20%;
}
.m3 {
  width: 90px;
  left: 70%;
}
.m4 {
  left: 40%;
  width: 100px;
  bottom: 10%;
}
