@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap");
.body {
  font-family: "Nunito", sans-serif;
}
.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: red;
}
.nav-link:focus,
.nav-link:hover {
  color: red;
}
.navbar-collapse {
  flex-grow: 0;
}
h1 {
  color: #586a6e;
  font-size: 3rem;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}
.header-img{
  margin-left: 184px;
}
.header-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.line1 {
  position: absolute;
  width: 300px;
  margin-left: 297px;
  margin-top: -675px;
}

.grad {
  width: 100%;
  height: 500px;
  background: rgb(255, 165, 199);
  background: linear-gradient(
    180deg,
    rgba(255, 165, 199, 1) 20%,
    rgba(255, 255, 255, 1) 100%
  );
  border-radius: 0% 50% 0% 0%;
}

.prof-image {
  width: 300px;
}
.about {
  width: 100%;
  height: 500px;
  background: rgb(255, 165, 199);
  background: linear-gradient(
    180deg,
    rgba(255, 165, 199, 1) 20%,
    rgba(255, 255, 255, 1) 100%
  );
  border-radius: 0% 50% 0% 0%;
}
.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me h4 {
  margin-bottom: 2rem;
  color: rgb(255, 255, 255);
}

.about-info,
.dr-consult-info h2 {
  color: #586a6e;
}

.about-info p {
  width: 75%;
  margin-top: 25px;
}
.dr-consult {
  margin-top: -90px;
}

.consult,
.dr-consult,
.about {
  display: flex;
  align-items: center;
}

/* CSS */
.button {
  background-color: #ab0047;
  border-radius: 8px;
  border-style: none;
  color: #ffffff;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  height: 50px;
  padding: 0px 25px;
}

.button-1:hover,
.button-1:focus {
  background-color: #ab0047;
}

.testimonial-item {
  box-sizing: content-box;
  padding: 60px 20px 20px 20px;
  margin: 0 15px 30px 0;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, rgba(240, 101, 159, 1), rgba(94, 201, 219, 1))
      border-box;
  border-radius: 1em;
  border: 4px solid transparent;
  position: relative;
}

.footer {
  background: #586a6e;
  height: 500px;
}

.contact h1 {
  color: #ffffff;
}

.form-control {
  background-color: transparent;
  color: #ffffff;
}

.form-control:focus {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}
.form ::placeholder {
  color: rgb(255, 255, 255);
}
